#root {
  @apply flex flex-col items-center min-h-screen;
}

main {
  @apply flex-grow;
}

/******************** logo animation ********************/
g#outer-jp > path,
g#inner-jp > path,
g#inner-star > path {
  filter: drop-shadow(0 0 2px rgba(250, 207, 250, 0.8))
    drop-shadow(0 0 4px rgba(227, 173, 227, 0.6))
    drop-shadow(0 0 8px rgba(241, 167, 242, 0.4));
}

g#outer-jp > path {
  stroke-dasharray: 1200;
  animation: animateOuter linear 1.8s normal forwards;
}

@keyframes animateOuter {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

g#inner-jp > path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: animateInner linear 0.5s 1.8s forwards;
}

@keyframes animateInner {
  0% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

g#inner-star {
  transform-origin: center;
  transform: scale(0);
  animation: zoomIn 0.4s 2s forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
